
.bgcategoria{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #a92835;
}

.separador{
    padding-bottom: 110px;
}

.boton-perfil{
	margin-top: 8px;
	height: 43px;
	width: 50px!important;
	border-color: #8b1e29!important;
	background-color: #a92835;
	border: 1px solid;
	padding-left: 3px!important;
	padding-right: 3px!important;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.persona-perfil{
	color: whitesmoke;
	
}